@font-face {
    font-family: "Coolvetica";
    src: url("../font/coolvetica/coolvetica rg.otf");
}
@font-face {
    font-family: "Roman";
    src: url("../font/Times New Roman/3230-font.ttf");
}
@font-face {
    font-family: "Arial";
    src: url("../font/Arial/Arial-BoldItalicMT.eot");
}
