.work .cardList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}
.work .card{
    width: 296px;
    height: 323px;
}
.work .card img{
    width: 296px;
    height: 323px;
}
